@model Helpfulcore.RenderingExceptions.Models.RenderingExceptionViewModel

@if (!Sitecore.Context.PageMode.IsNormal || !HttpContext.Current.IsCustomErrorEnabled)
{
	<style>
		.error-messages { font-size: 1.4em !important; margin: 20px 0; } .error-messages .error-header { color: #fff; padding: 10px; } .error-messages li { display: block; padding: 10px; } .error-messages li:last-child { border-bottom: none; } .error-messages { border: solid 1px #940; color: #940; } .error-messages .error-header { background: #940; } .error-messages li { border-bottom: dashed 1px #940; } 
	</style>

	<div class="error-messages">
		<h4 class="error-header">
			Error while rendering view [@Model.RenderingName]. The rendering is lacking some configuration. Please, read description below and try to fix the problem.
		</h4>
		<ul>
			<li style = "padding-left:40px;">@Model.Exception.Message</li>
		</ul>
	</div>
}